page-login {
    .bg-image{
        background-image: url('../../assets/layout/Login.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain; 
     }
     .no-scroll .scroll-content{
         overflow: hidden;
     }
    //  .logo{
    // position: absolute;
    // top: 198px;
    // left: 119px;
    // width: 30%;
    // }
   .login-form{
        margin-top:360px;
        font-display: Ubuntu;
    }
    .forget{
        font-size: 12px;
        margin-top: 20px;
    }
    .sign{
        float: right;
        font-size: 12px;
        margin-top: 20px;
    }
}
